<br>


    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #e3e3e4">
      <!-- Grid container -->
      <div class="container rounded">
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-dark">Home Page</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'patent_list' %}" class="text-dark">All Patents List</a>
              </h6>
            </div>

        <section class="text-center mb-5">
            <a href="https://github.com/v-rana" class="btn  btn-floating m-1 ">
            
                <i class="bi bi-github" style="font-size: 2rem;"></i>
              </a>
          <a href="https://www.linkedin.com/in/varun-rana00/" class="btn  btn-floating m-1 ">
           
            <i class="bi bi-linkedin" style="font-size: 2rem;"></i>
          </a>

    
        </section>
        <!-- Section: Social -->
      </div>

    </footer>
    <!-- Footer -->
 
